label{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
padding-bottom: 20px;
    color: #3A3A3A;
}
button{
    width: 125px;
    height: 48px;

    background: #58B4AE;
    border-radius: 4px;
}
select{
    width: 100%;
    height: 10%;
    padding: 5px;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin: 10px;
    text-align: center;
}
select:active{

    border: 1px solid #58B4AE;
    box-sizing: border-box;
    border-radius: 4px;
}
option{
    position: absolute;
    width: 243px;
    height: 22px;
    padding: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    /* #3A3A3A */

    color: #3A3A3A;
}
option:checked{
    position: absolute;
    width: 313px;
    height: 38px;
    background: #F4F4F4;
}
input{
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;

}
button div{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
}
.MainPage{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100%, auto);
    grid-template-rows: 50px 1fr;
}
.Sell{
    grid-column:  2;
    grid-row: 2;
    text-align: center;
}
.Buy{
    grid-column: 5;
    grid-row: 2;
    text-align: center;
}
.Exchange{
    grid-column: 2 / 6;
    grid-row: 3;
    text-align: center;
}
.details{
    grid-column:  2;
    grid-row: 2;
}
.Div{
    grid-column:  2;
    grid-row: 3;
}

.info{
    grid-column:  3 / 6;
    grid-row: 3;
    text-align:right;
}
.Cancel{
    grid-column:  3 ;
    grid-row: 4;
    text-align:center;
}
.Confirm{
    grid-column:  4 ;
    grid-row: 4;
    text-align:center;
}
.Text1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    color: #3A3A3A;
    margin: 20px;
}
.Text2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    color: #818181;
    margin: 20px;
}
.img{
    grid-column:  2 / 6 ;
    grid-row: 2;
    margin-left: auto;
    margin-right: auto;
}
.SuccessText{
    grid-column:  2 /6 ;
    grid-row: 3;
    text-align:center;
}
.SuccessButt{
    grid-column:  2 / 6 ;
    grid-row: 4;
    margin-left: auto;
    margin-right: auto;
}